.signup-wrapper .css-1s2u09g-control{
    border: 0 !important;
    background: transparent !important;
    text-align: left !important;
    box-shadow:none !important;
    justify-content:flex-start !important
}
.css-14el2xx-placeholder{
    text-align: left !important;
}
.signup-wrapper .css-1hb7zxy-IndicatorsContainer{
    display:none !important;
}
.signup-wrapper .css-14el2xx-placeholder{
    color:#212529 !important;
}
.signup-wrapper .css-319lph-ValueContainer{
    text-align: left !important;
}