/* Project name: Bellion Group */
/* Develope by: Bellion Group */
/* Developer Web belliongroup.com */
/* variables */
/* Primary Color */
/* Secoundry color */
/* Black color */
/* White color */
/* Fonts */
*, *, *:after, *:before {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}
*:focus, *:focus, *:after:focus, *:before:focus {
  outline: none !important;
}

::-moz-selection {
  background-color: #D39B2C;
  color: #ffffff;
}

::selection {
  background-color: #D39B2C;
  color: #ffffff;
}

.white-filter {
  filter: brightness(0) invert(1);
}

._3gTMH {
  direction: ltr !important;
}

._2KezC {
  color: #fff !important;
}

._3curk {
  z-index: 11;
}

.icon-field-calendar {
  background-image: url("../images/calendar-icon.png");
  background-repeat: no-repeat;
  background-size: 21px;
  background-position: right 10px center;
}

._3cxVN {
  border: 1px solid #c1c1c1;
  max-width: 100%;
}

html, body {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 400;
  scroll-behavior: smooth;
  color: #656565;
}
@media (max-width: 768px) {
  html, body {
    overflow-x: hidden !important;
  }
}

@media (min-width: 768px) {
  .back-arrow img {
    filter: brightness(0) invert(1);
  }
}

.btn:not(.dropdown-custom) {
  background: linear-gradient(267.17deg, #E0AA3E 0%, #FFCE40 49.63%, #B88A44 100%) !important;
  min-width: 170px;
  border-radius: 24px;
  padding: 8px 15px;
  font-size: 17px;
  font-weight: 500;
}

a {
  color: #D39B2C;
  text-decoration: none;
  transition: all 0.05s ease-in !important;
  text-decoration: none;
  color: #000000;
}
input[type=date]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  background-image: url(../images/calendar-icon.png);
  padding-right: 30px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: right 0 center;
}

.date__pes__custom::after {
  content: attr(data-date);
  position: absolute;
  top: 10px;
  left: 0px;
  background: #f1f3f6;
  padding-left: 10px;
  width: 120px;
}

*[dir=ltr] .table-row-title img {
  margin-right: 7px;
}
*[dir=ltr] input[type=date]::-webkit-date-and-time-value {
  text-align: left;
}
*[dir=ltr] input[type=date] {
  text-align: left;
  text-align: -webkit-left;
  display: block;
}
*[dir=ltr] input[type=date].date__field {
  text-align: right !important;
}
*[dir=ltr] .profile-widget table td b {
  margin-right: 10px;
}
@media (min-width: 768px) {
  *[dir=ltr] .filter .dropdown .dropdown-menu {
    transform: translate(123px, 0px) !important;
    top: 36px !important;
    right: 0px !important;
  }
}

.table-row-title {
  font-size: 20px;
  font-weight: 900 !important;
  display: flex;
  align-items: center;
}

.swiper-slider-mobile {
  height: 400px;
}
.swiper-slider-mobile .swiper-pagination-bullet {
  width: 9px;
  height: 9px;
}
.swiper-slider-mobile .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  background: transparent;
  border: 1px solid #fff;
}
.swiper-slider-mobile .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: linear-gradient(180deg, #FF8961 0%, #FD649D 100%);
}
.swiper-slider-mobile .lazy-load-image-background {
  width: 100%;
  height: 100%;
}
.swiper-slider-mobile .lazy-load-image-background img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  max-width: initial;
}

*[dir=rtl] .table-row-title img {
  margin-left: 7px;
}
*[dir=rtl] .update__form__ textarea, *[dir=rtl] .update__form__ select, *[dir=rtl] .update__form__ select option {
  text-align: right !important;
}
*[dir=rtl] .update__form__ input {
  text-align: left !important;
}
*[dir=rtl] .update__form__ select {
  background-position: left 0px center !important;
  padding-left: 20px !important;
}
*[dir=rtl] .update__form__ .custom-select-lang .css-b62m3t-container {
  direction: rtl !important;
  margin-right: auto;
  margin-left: 0;
}
*[dir=rtl] .update__form__ .custom-select-lang .css-b62m3t-container .css-tlfecz-indicatorContainer {
  padding-left: 0 !important;
}
*[dir=rtl] .tabs-filters__ {
  flex-direction: row-reverse;
}
@media (max-width: 767px) {
  *[dir=rtl] .profile-widget table.edit__profile__table {
    text-align: left;
  }
  *[dir=rtl] .profile-widget table.edit__profile__table .edit__pes:after {
    right: 22px !important;
    left: auto !important;
  }
  *[dir=rtl] .profile-widget table.edit__profile__table td:first-child {
    text-align: right;
  }
  *[dir=rtl] .profile-widget table.edit__profile__table td:last-child, *[dir=rtl] .profile-widget table.edit__profile__table input {
    text-align: left !important;
  }
}
*[dir=rtl] .profile-widget table td:last-child {
  text-align: left !important;
}
@media (min-width: 768px) {
  *[dir=rtl] .filter {
    display: flex;
    justify-content: end;
  }
  *[dir=rtl] .filter .dropdown .dropdown-menu {
    transform: translate(7px, 0px) !important;
    top: 36px !important;
    left: 0px !important;
    width: 400px !important;
  }
}
*[dir=rtl] .filter h4 {
  text-align: right;
}
*[dir=rtl] input[type=date]::-webkit-date-and-time-value {
  text-align: right;
}
*[dir=rtl] .input select {
  background-position: left 15px center !important;
}
*[dir=rtl] .custom__dropdown__filter {
  float: right !important;
}
@media (max-width: 767px) {
  *[dir=rtl] .custom__dropdown__filter {
    float: left !important;
  }
}
*[dir=rtl] input[type=date] {
  text-align: right;
  text-align: -webkit-right;
  display: block;
}
*[dir=rtl] input[type=date]::-webkit-calendar-picker-indicator {
  background-position: left 0px center;
}
*[dir=rtl] .date__pes__custom::after {
  right: 0px;
}
*[dir=rtl] .react-select__option {
  text-align: right;
}
*[dir=rtl] .error__text {
  text-align: right !important;
}
*[dir=rtl] .icon-field-calendar {
  background-position: left 10px center;
}
*[dir=rtl] .back-arrow {
  position: absolute;
  left: 16px;
  top: calc(50% - 12px);
}
*[dir=rtl] .profile-widget table td b {
  margin-left: 10px;
}
@media (max-width: 767px) {
  *[dir=rtl] .update__card__header {
    padding: 0px 9px 0px 15px !important;
  }
  *[dir=rtl] .profile_widget_table td:last-child {
    margin-left: 0 !important;
    margin-right: 3px;
  }
  *[dir=rtl] .profile_widget_table td::after {
    right: auto;
    left: 2px;
  }
}

@media (max-width: 767px) {
  .user-side-wrap .thumb img {
    width: 100%;
    max-width: initial;
  }
  .card__res_padding {
    padding-bottom: 70px;
  }
  .d-umd-none {
    display: none !important;
  }
  .border-after:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -14px;
    height: 1px;
    width: 100%;
    border-bottom: 1px solid #F1F3F6;
  }
  .about__title h2 {
    font-weight: 900 !important;
    font-size: 20px !important;
  }
  .about__title p {
    font-size: 14px !important;
    color: #9A9A9A;
  }
  .table-row-cont {
    margin-top: 10px;
  }
  .table-row-cont td {
    border-bottom: 0px !important;
  }
  .edit__widget td {
    border-bottom: 1px solid #F1F3F6;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
  }
  .profile_widget_table tr {
    display: flex;
  }
  .profile_widget_table td {
    width: auto !important;
    border-bottom: 0px !important;
    text-align: left !important;
    position: relative;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
  }
  .profile_widget_table td::after {
    content: ":";
    position: absolute;
    right: 0;
    top: 0;
    font-weight: 700;
    font-size: 15px;
    top: 2px;
    right: 2px;
  }
  .profile_widget_table td:last-child {
    color: #9A9A9A;
    font-size: 14px;
    margin-left: 3px;
  }
  .profile_widget_table td:last-child::after {
    display: none;
  }
  .update__form__ .card {
    margin-left: -12px;
    margin-right: -12px;
  }
  .update__form__ .update__card__header {
    padding: 0px 15px 0px 7px;
  }
  .update__form__ .update__card__header .title h2 {
    font-size: 20px !important;
    font-weight: 700;
  }
  .card {
    box-shadow: none !important;
    border-radius: 0px !important;
  }
  .card .user-listing {
    padding-top: 0px !important;
  }
  .card .card-header:not(.update__card__header) {
    padding: 0px !important;
  }
  header .dropdown-toggle::after {
    color: #fff;
  }
  .dropdown-toggle::after {
    color: #212529;
  }
}
@media (max-width: 767px) {
  .welcome_wrapper .dropdown-toggle::after {
    color: #fff;
  }
}

*[dir=rtl] .dropdown-toggle::after {
  margin-right: 0.255em;
}

.mobile-nav {
  position: fixed;
  background-color: #fff;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 60px;
  z-index: 99;
}
.mobile-nav ul li.active a {
  color: #D39B2C;
}
.mobile-nav ul li.active a svg, .mobile-nav ul li.active a svg path {
  fill: #D39B2C;
}
.mobile-nav ul li a {
  font-size: 27px;
  color: #C0BEC7;
}

.user-side-wrap {
  /* Main CSS */
  /* Auth */
  /* Main Pages */
  /* Custome */
}
.user-side-wrap .upload-label {
  display: flex;
  align-items: center;
  z-index: 11;
  color: #959595;
  justify-content: center;
  font-size: 36px;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.33);
  border-radius: 50%;
  line-height: 1;
  padding-top: 5px;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  padding-left: 1px;
  cursor: pointer;
  border: 1px solid #959595;
}
.user-side-wrap .thumb img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-width: initial;
}
.user-side-wrap .sub-thumb img {
  height: 145px;
}
.user-side-wrap .main-thumb img {
  height: 300px;
}
.user-side-wrap .inner-thumb img {
  height: 145px;
}
.user-side-wrap .image-gallery-content:not(.fullscreen) .image-gallery-slide .image-gallery-image {
  height: 435px;
  max-height: initial;
}
@media (min-width: 768px) {
  .user-side-wrap .mt-md-minus-60 {
    margin-top: -60px;
  }
  .user-side-wrap .profile-widget table {
    width: 96% !important;
  }
  .user-side-wrap .border-md-bottom {
    border-bottom: 1px solid #dee2e6 !important;
  }
  .user-side-wrap .position-md-relative {
    position: relative !important;
  }
  .user-side-wrap .card__body {
    padding-left: 30px;
    padding-right: 30px;
  }
  .user-side-wrap .page-content-name {
    font-size: 30px !important;
    margin-bottom: 0px;
  }
}
.user-side-wrap .page-content-name {
  font-weight: 900;
  font-size: 36px;
}
@media (max-width: 575px) {
  .user-side-wrap .card-footer {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .user-side-wrap .card-footer button {
    margin-top: 0px !important;
  }
  .user-side-wrap .card-footer .btn {
    font-size: 14px;
    min-width: 120px;
  }
}
.user-side-wrap .tabs-filters__ {
  border-bottom: 1px solid #F1F3F6;
  padding-bottom: 7px;
}
@media (max-width: 767px) {
  .user-side-wrap .tabs-filters__ {
    margin-left: -0.75rem !important;
    margin-right: -0.75rem !important;
    padding-left: 1.6rem !important;
    padding-right: 1.7rem !important;
  }
}
@media (min-width: 768px) {
  .user-side-wrap .tabs-filters__ {
    width: 500px;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 30px;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
}
.user-side-wrap .tabs-filters__ a {
  font-size: 15px;
  color: #9A9A9A;
  font-weight: 500;
  position: relative;
}
.user-side-wrap .tabs-filters__ a.active {
  color: #D39B2C;
}
.user-side-wrap .tabs-filters__ a.active:before {
  content: "";
  position: absolute;
  bottom: -9.5px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #D39B2C;
  border-radius: 10px;
}
@media (max-width: 767px) {
  .user-side-wrap .dropdown button {
    outline: none !important;
    box-shadow: none;
  }
  .user-side-wrap .dropdown.show svg circle {
    fill: #000;
  }
  .user-side-wrap .dropdown .custom__dropdown__filter {
    background: transparent !important;
    margin-top: 20px;
    margin-bottom: 17px !important;
    min-width: 1px !important;
    float: right;
  }
}
.user-side-wrap h1, .user-side-wrap h2, .user-side-wrap h3, .user-side-wrap h4, .user-side-wrap h5, .user-side-wrap h6 {
  font-weight: 700;
}
.user-side-wrap input:focus, .user-side-wrap select:focus, .user-side-wrap textarea:focus {
  outline: none !important;
}
.user-side-wrap p {
  font-size: 16px;
}
@media (max-width: 576px) {
  .user-side-wrap p {
    font-size: 14px;
  }
}
.user-side-wrap ul {
  margin: 0;
  padding: 0;
}
.user-side-wrap ul li {
  list-style-type: none;
}
.user-side-wrap img {
  max-width: 100%;
}
.user-side-wrap button:focus, .user-side-wrap a:focus {
  outline: none !important;
}
.user-side-wrap .logo h1, .user-side-wrap .logo h2, .user-side-wrap .logo h3, .user-side-wrap .logo h4, .user-side-wrap .logo h5, .user-side-wrap .logo h6 {
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
}
.user-side-wrap .logo.color h1, .user-side-wrap .logo.color h2, .user-side-wrap .logo.color h3, .user-side-wrap .logo.color h4, .user-side-wrap .logo.color h5, .user-side-wrap .logo.color h6 {
  color: #D39B2C;
}
.user-side-wrap .btn.white {
  background: #ffffff;
  color: #D39B2C;
}
.user-side-wrap .btn.border {
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}
.user-side-wrap .btn.pink {
  background: transparent;
  color: #D39B2C;
  border: 1px solid #D39B2C;
  transition: 0.3s ease-in-out all;
}
.user-side-wrap .btn.pink:hover {
  background: linear-gradient(267.17deg, #E0AA3E 0%, #FFCE40 49.63%, #B88A44 100%) !important;
  color: #212529;
}
.user-side-wrap .input {
  display: flex;
  background-color: #f1f3f6;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  margin-bottom: 10px;
}
.user-side-wrap .input select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../images/arrow_grey.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
}
.user-side-wrap .input select, .user-side-wrap .input input {
  background-color: transparent;
  border: 0;
  padding: 15px 10px;
  width: calc(100% - 45px);
  color: #9A9A9A;
}
.user-side-wrap .input select::-moz-placeholder, .user-side-wrap .input input::-moz-placeholder {
  text-transform: capitalize;
}
.user-side-wrap .input select::placeholder, .user-side-wrap .input input::placeholder {
  text-transform: capitalize;
}
.user-side-wrap .input i {
  width: 45px;
  height: 45px;
  display: grid;
  place-content: center;
  font-size: 18px;
  color: #C0BEC7;
}
.user-side-wrap .radio {
  justify-content: start;
  background-color: transparent;
}
.user-side-wrap .radio label {
  margin: 0 5px;
}
.user-side-wrap .radio input {
  width: 18px;
  height: 18px;
}
.user-side-wrap .thumb img {
  border-radius: 8px;
}
.user-side-wrap .location {
  display: flex;
  align-items: center;
}
.user-side-wrap .location .badge {
  margin-left: 10px;
}
.user-side-wrap .badge {
  background: linear-gradient(267.17deg, #E0AA3E 0%, #FFCE40 49.63%, #B88A44 100%) !important;
  border-radius: 24px;
}
.user-side-wrap .badge.female {
  background: linear-gradient(180deg, #FF8961 0%, #FD649D 100%);
  border-radius: 24px;
}
.user-side-wrap .badge.female i {
  vertical-align: middle;
  font-size: 14px;
}
.user-side-wrap .badge.male {
  background: linear-gradient(180deg, #3DA0DE 0%, #73F4E0 100%);
  border-radius: 24px;
}
.user-side-wrap .badge.male i {
  vertical-align: middle;
  font-size: 14px;
}
.user-side-wrap .user-card img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.user-side-wrap .link {
  color: #D39B2C;
}
.user-side-wrap .icon {
  background-color: #f1f3f6;
  width: 40px;
  height: 40px;
  display: grid;
  border-radius: 50%;
}
.user-side-wrap .icon button {
  background-color: transparent;
  border: 0;
  color: #091E42;
}
.user-side-wrap .card {
  border: 0;
  background-color: #ffffff;
  box-shadow: 0px 12px 250px rgba(0, 0, 0, 0.1);
  border-radius: 8px !important;
  overflow: hidden;
}
.user-side-wrap .card .card-header {
  background-color: #ffffff;
  border: 0;
  display: flex;
}
.user-side-wrap .card .card-header ul li {
  margin: 10px 0;
}
.user-side-wrap .card .card-header .title h1, .user-side-wrap .card .card-header .title h2, .user-side-wrap .card .card-header .title h3, .user-side-wrap .card .card-header .title h4, .user-side-wrap .card .card-header .title h5 {
  font-size: 30px;
  color: #111013;
}
.user-side-wrap .card .card-header .title-sm h1, .user-side-wrap .card .card-header .title-sm h2, .user-side-wrap .card .card-header .title-sm h3, .user-side-wrap .card .card-header .title-sm h4, .user-side-wrap .card .card-header .title-sm h5 {
  font-size: 24px;
  color: #111013;
}
.user-side-wrap .login-wrapper {
  background-image: url("../images/login-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 75.22px);
}
.user-side-wrap .login-wrapper .login-widget {
  min-height: calc(100vh - 75.22px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.user-side-wrap .login-wrapper .login-widget .btn {
  min-width: 370px;
  margin: 10px 0;
}
@media (max-width: 400px) {
  .user-side-wrap .login-wrapper .login-widget .btn {
    min-width: 100%;
  }
}
.user-side-wrap .login-wrapper .social-btn {
  display: flex;
  justify-content: center;
}
.user-side-wrap .login-wrapper .social-btn .social {
  width: 60px;
  height: 60px;
  display: grid;
  place-content: center;
  font-size: 24px;
  border-radius: 50%;
  border: 0;
  margin: 5px;
  color: #ffffff;
}
.user-side-wrap .login-wrapper .social-btn .fb {
  background-color: #2672CA;
}
.user-side-wrap .login-wrapper .social-btn .google {
  background-color: #FC3850;
}

@media (max-width: 768px) {
  .user-side-wrap .login-wrapper {
    background-image: url("../images/login-mbl.png");
    background-position: center;
  }
}
.user-side-wrap .signup-wrapper {
  background-image: url("../images/login-bg.jpg");
  background-size: cover;
  min-height: calc(100vh - 75.22px);
}
.user-side-wrap .signup-wrapper .signup-content h1, .user-side-wrap .signup-wrapper .signup-content h2, .user-side-wrap .signup-wrapper .signup-content h3, .user-side-wrap .signup-wrapper .signup-content h4, .user-side-wrap .signup-wrapper .signup-content h5, .user-side-wrap .signup-wrapper .signup-content h6 {
  font-weight: 400;
  font-size: 24px;
  color: #465671;
}
.user-side-wrap .signup-wrapper .signup-widget {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
@media (min-width: 575px) {
  .user-side-wrap .signup-wrapper .signup-widget {
    min-height: calc(100vh - 75.22px);
  }
}
@media (max-width: 400px) {
  .user-side-wrap .signup-wrapper .signup-widget.forget_widget .card {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .user-side-wrap .signup-wrapper .signup-widget .card-body {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.user-side-wrap .signup-wrapper .signup-widget .btn {
  min-width: 370px;
  margin: 10px 0;
}
@media (max-width: 400px) {
  .user-side-wrap .signup-wrapper .signup-widget .btn {
    min-width: 100%;
  }
}
.user-side-wrap .signup-wrapper .social-btn {
  display: flex;
  justify-content: center;
}
.user-side-wrap .signup-wrapper .social-btn .social {
  width: 60px;
  height: 60px;
  display: grid;
  place-content: center;
  font-size: 24px;
  border-radius: 50%;
  border: 0;
  margin: 5px;
  color: #ffffff;
}
.user-side-wrap .signup-wrapper .social-btn .fb {
  background-color: #2672CA;
}
.user-side-wrap .signup-wrapper .social-btn .google {
  background-color: #FC3850;
}
@media (max-width: 768px) {
  .user-side-wrap .signup-wrapper {
    background-color: #fff !important;
  }
  .user-side-wrap .signup-wrapper.white-bg-wrap {
    background: #fff !important;
  }
  .user-side-wrap .signup-wrapper .card {
    box-shadow: none !important;
  }
}
.user-side-wrap header {
  background-color: #000000;
  padding: 12px 20px;
  height: 80;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .user-side-wrap header .logo span {
    height: 35px !important;
  }
  .user-side-wrap header .logo span img {
    height: 35px !important;
  }
}
.user-side-wrap header .logo h1, .user-side-wrap header .logo h2, .user-side-wrap header .logo h3, .user-side-wrap header .logo h4, .user-side-wrap header .logo h5 {
  font-size: 42px;
  margin-bottom: 0;
}
.user-side-wrap header .nav ul {
  display: flex;
  align-items: center;
}
.user-side-wrap header .nav ul li {
  margin: 0 10px;
}
.user-side-wrap header .nav ul li a {
  color: #fff;
  display: flex;
  align-items: center;
}
.user-side-wrap header .nav ul li svg, .user-side-wrap header .nav ul li i {
  vertical-align: middle;
}
.user-side-wrap header .nav ul li svg path, .user-side-wrap header .nav ul li i path {
  fill: #fff;
}
.user-side-wrap header .nav ul li i {
  font-size: 24px;
  vertical-align: middle;
  margin-right: 5px;
}
.user-side-wrap header .nav ul .active a {
  color: #D39B2C;
}
.user-side-wrap header .nav ul .active a svg path {
  fill: #D39B2C;
}
.user-side-wrap main {
  min-height: calc(100vh - 200px);
  padding: 100px 0;
  background-color: #f1f3f6;
}
@media (max-width: 767px) {
  .user-side-wrap main {
    padding: 50px;
    background-color: #fff !important;
  }
  .user-side-wrap main .card__responsive {
    background: transparent;
  }
  .user-side-wrap main .card__responsive .res_head {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .user-side-wrap main .card__responsive .card__body {
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 0px !important;
  }
}
@media (max-width: 576px) {
  .user-side-wrap main {
    padding: 0px;
  }
}
.user-side-wrap footer {
  background-color: #000000;
  text-align: center;
  padding: 10px;
}
@media (max-width: 767px) {
  .user-side-wrap footer {
    margin-bottom: 60px;
  }
}
.user-side-wrap footer p {
  margin-bottom: 0;
  font-size: 18px;
  color: #ffffff;
}
.user-side-wrap .h500p {
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
.user-side-wrap .offer-card {
  position: absolute;
  z-index: 5;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  display: flex;
  background-color: #ffffff;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}
.user-side-wrap .filter {
  margin-left: 20px;
}
.user-side-wrap .filter .dropdown-menu {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
  border: 0;
}
@media (min-width: 768px) {
  .user-side-wrap .filter .dropdown {
    max-width: 400px;
  }
}
.user-side-wrap .filter .dropdown-toggle {
  display: flex;
  align-items: center;
  box-shadow: none !important;
  justify-content: space-between;
  border-radius: 8px;
  margin-bottom: 10px;
  border: 0;
  padding: 10px 12px;
  min-width: 370px;
}
@media (min-width: 768px) {
  .user-side-wrap .filter .dropdown-toggle {
    background: transparent !important;
  }
}
.user-side-wrap .filter .dropdown-menu {
  padding: 10px;
}
.user-side-wrap .filter h1, .user-side-wrap .filter h2, .user-side-wrap .filter h3, .user-side-wrap .filter h4, .user-side-wrap .filter h5 {
  margin-bottom: 15px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
}
.user-side-wrap .user-listing {
  display: flex;
  flex-wrap: wrap;
  padding: 80px 0;
}
@media (min-width: 768px) {
  .user-side-wrap .user-listing {
    margin-right: -3.4%;
  }
}
.user-side-wrap .user-listing::after {
  content: "";
  flex: 0.885;
}
.user-side-wrap .user-listing .user-card {
  max-width: calc(17% - 10px);
  flex: 0 0 calc(17% - 10px);
  margin: 5px;
  border-radius: 4px;
  overflow: hidden;
}
.user-side-wrap .user-listing .user-card.offline {
  position: relative;
}
.user-side-wrap .user-listing .user-card.offline::after {
  content: "";
  width: 9px;
  height: 9px;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  background-color: #9aaa97;
  position: absolute;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
}
.user-side-wrap .user-listing .user-card.online {
  position: relative;
}
.user-side-wrap .user-listing .user-card.online::after {
  content: "";
  width: 9px;
  height: 9px;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  background-color: #7FD31F;
  position: absolute;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
}
@media only screen and (min-device-width: 200px) and (max-device-width: 575px) {
  .user-side-wrap .user-listing .user-card {
    max-width: calc(50% - 10px) !important;
    flex: 0 0 calc(50% - 10px) !important;
    height: calc(50vh - 182px) !important;
  }
  .user-side-wrap .user-listing .user-card span.lazy-load-image-background {
    height: 100% !important;
  }
  .user-side-wrap .user-listing .user-card img {
    height: 100% !important;
    -o-object-fit: cover !important;
       object-fit: cover !important;
  }
}
@media only screen and (min-device-width: 576px) and (max-device-width: 767px) {
  .user-side-wrap .user-listing .user-card {
    max-width: calc(33.333% - 10px);
    flex: 0 0 calc(33.333% - 10px);
  }
}
@media (min-width: 768px) {
  .user-side-wrap .user-listing .user-card {
    margin-right: 3.3%;
  }
}
.user-side-wrap .user-listing .user-card::before {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(359.82deg, rgba(0, 0, 0, 0.5) 14.02%, rgba(0, 0, 0, 0) 99.81%);
  content: "";
  top: 0;
  left: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
.user-side-wrap .user-listing .user-card .user-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  z-index: 3;
}
.user-side-wrap .user-listing .user-card .user-footer p {
  margin-bottom: 0;
  color: #ffffff;
}
.user-side-wrap .gallary {
  padding: 20px 0;
}
.user-side-wrap .gallary .row {
  margin: 0;
}
.user-side-wrap .gallary .row > * {
  padding: 0;
}
.user-side-wrap .gallary .thumb {
  padding: 5px;
}
.user-side-wrap .gallary .thumb .badge {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: #ffffff;
  color: #000000;
}
.user-side-wrap .profile-widget table, .user-side-wrap .profile-widget tbody, .user-side-wrap .profile-widget thead {
  display: block;
  width: 100%;
}
.user-side-wrap .profile-widget table tr, .user-side-wrap .profile-widget tbody tr, .user-side-wrap .profile-widget thead tr {
  display: flex;
}
.user-side-wrap .profile-widget table td, .user-side-wrap .profile-widget tbody td, .user-side-wrap .profile-widget thead td {
  padding: 5px 0;
  width: 50%;
}
.user-side-wrap .profile-widget table td:last-child, .user-side-wrap .profile-widget tbody td:last-child, .user-side-wrap .profile-widget thead td:last-child {
  text-align: right;
}
.user-side-wrap .profile-widget table b, .user-side-wrap .profile-widget tbody b, .user-side-wrap .profile-widget thead b {
  color: #000000;
}
.user-side-wrap .profile-widget > .card-header {
  padding: 10px 0;
}/*# sourceMappingURL=style.css.map */