/* Project name: Bellion Group */
/* Develope by: Bellion Group */
/* Developer Web belliongroup.com */

/* variables */
/* Primary Color */
$primaryColor: #D39B2C
$linear: linear-gradient(267.17deg, #E0AA3E 0%, #FFCE40 49.63%, #B88A44 100%) !important
$linearPink: linear-gradient(180deg, #FF8961 0%, #D39B2C 100%)
$pink: #D39B2C

/* Secoundry color */
$secondryColor: #000000

/* Black color */
$bodyColor: #656565
$blackColor: #111013
$greyColor: #091E42
$borderColor: #EEEEEE
$textGrey: #465671
$background: #f1f3f6

/* White color */
$whiteColor: #ffffff

/* Fonts */
$font: 'Open Sans', sans-serif

*,*,*:after,*:before
    margin: 0
    padding: 0
    position: relative
    box-sizing: border-box
    &:focus
        outline: none !important

::selection
    background-color: $primaryColor
    color: $whiteColor
.white-filter
    filter: brightness(0) invert(1)
._3gTMH
  direction: ltr !important
._2KezC
    color: #fff !important        
._3curk
   z-index:11
.icon-field-calendar
    background-image: url('../images/calendar-icon.png')
    background-repeat: no-repeat
    background-size: 21px
    background-position: right 10px center
._3cxVN
    border: 1px solid #c1c1c1
    max-width: 100%
html,body
    font-family: $font !important
    font-weight: 400
    scroll-behavior: smooth
    color: $bodyColor
    @media (max-width: 768px)
        overflow-x: hidden !important
.back-arrow img
    @media (min-width: 768px)
        filter: brightness(0) invert(1)
.btn:not(.dropdown-custom)
    background: $linear
    min-width: 170px
    border-radius: 24px
    padding: 8px 15px
    font-size: 17px
    font-weight: 500
a
    color: $primaryColor
    text-decoration: none
    transition: all 0.05s ease-in !important
    &:hover
    text-decoration: none
    color: $secondryColor
input[type="date"]::-webkit-calendar-picker-indicator
    background: transparent
    bottom: 0
    color: transparent
    cursor: pointer
    height: auto
    left: 0
    position: absolute
    right: 0
    top: 0
    width: auto
    background-image: url(../images/calendar-icon.png)
    padding-right: 30px
    background-size: 20px
    background-repeat: no-repeat
    background-position: right 0 center
.date__pes__custom 
    &::after
        content: attr(data-date)
        position: absolute
        top: 10px
        left: 0px
        background: #f1f3f6
        padding-left: 10px
        width: 120px
        
*[dir=ltr] 
    .table-row-title
      img
        margin-right: 7px
    input[type="date"]::-webkit-date-and-time-value
        text-align: left
    input[type="date"]      
        text-align: left
        text-align: -webkit-left
        display: block
        &.date__field
            text-align: right !important
    .profile-widget table td b
        margin-right: 10px 
    @media(min-width: 768px)
        .filter
            .dropdown
                .dropdown-menu
                    transform: translate(123px, 0px) !important
                    top: 36px !important
                    right: 0px !important
.table-row-title
    font-size: 20px
    font-weight: 900 !important
    display: flex
    align-items: center
.swiper-slider-mobile
    height: 400px
    .swiper-pagination-bullet
        width: 9px 
        height: 9px
        &:not(.swiper-pagination-bullet-active)
            background: transparent
            border: 1px solid #fff
        &.swiper-pagination-bullet-active
            background: linear-gradient(180deg, #FF8961 0%, #FD649D 100%) 
    .lazy-load-image-background
        width: 100%
        height: 100%
        img
            width: 100%
            height: 100%
            object-fit: cover
            object-position: top
            max-width: initial

*[dir=rtl] 
    .table-row-title
      img
        margin-left: 7px
    .update__form__
        textarea,select,select option
            text-align: right !important
        input
            text-align: left !important
        select
            background-position: left 0px center !important
            padding-left: 20px !important
        .custom-select-lang
            .css-b62m3t-container
                direction: rtl !important
                margin-right: auto
                margin-left: 0
                .css-tlfecz-indicatorContainer
                    padding-left: 0 !important
    .tabs-filters__
        flex-direction: row-reverse
    .profile-widget 
        table 
            @media(max-width: 767px)
                &.edit__profile__table
                    .edit__pes:after
                        right: 22px !important
                        left: auto !important
                    td:first-child
                        text-align: right
                    td:last-child,input
                        text-align: left !important
                    input[type="date"]::-webkit-date-and-time-value
                    text-align: left
            td
                &:last-child
                    text-align: left !important
    @media(min-width: 768px)
        .filter
            display: flex
            justify-content: end
            .dropdown
                .dropdown-menu
                    transform: translate(7px, 0px) !important
                    top: 36px !important
                    left: 0px !important
                    width: 400px !important
    .filter h4
        text-align: right
    input[type="date"]::-webkit-date-and-time-value
        text-align: right
    .input select
        background-position: left 15px center !important
    .custom__dropdown__filter
        float: right !important
        @media(max-width:767px)
            float: left !important
    input[type="date"]
        text-align: right
        text-align: -webkit-right
        display: block
    input[type="date"]::-webkit-calendar-picker-indicator
        background-position: left 0px center
    .date__pes__custom
        &::after
            right: 0px
    .react-select__option
      text-align: right
    .error__text
       text-align: right !important
    .icon-field-calendar
        background-position: left 10px center
    .back-arrow
        position: absolute
        left:16px
        top: calc(50% - 12px)  
    .profile-widget table td b
        margin-left:10px 
    @media(max-width: 767px)
        .update__card__header
            padding: 0px 9px 0px 15px !important
        .profile_widget_table td
            &:last-child
                margin-left: 0 !important
                margin-right: 3px
            &::after
                right: auto
                left: 2px
@media(max-width:767px)
    .user-side-wrap .thumb img
        width: 100%
        max-width: initial
    .card__res_padding
        padding-bottom: 70px
    .d-umd-none
        display: none !important
    .border-after:after
        content: "",
        position: absolute
        left: 0
        bottom: -14px
        height: 1px
        width: 100%
        border-bottom: 1px solid #F1F3F6
    .about__title 
        h2
            font-weight: 900 !important
            font-size: 20px !important
        p
            font-size: 14px !important
            color: #9A9A9A
    .table-row-cont 
        margin-top: 10px
        td
            border-bottom: 0px !important
    .edit__widget
        td
           border-bottom: 1px solid #F1F3F6 
           padding-bottom: 10px !important
           padding-top: 10px !important
    .profile_widget_table
        tr
            display: flex
        td
            width: auto !important
            border-bottom: 0px !important
            text-align: left !important
            position: relative
            padding-top: 3px !important
            padding-bottom: 3px !important
            &::after
                content: ":"
                position: absolute
                right: 0
                top: 0
                font-weight: 700
                font-size: 15px
                top: 2px
                right: 2px
            &:last-child
                &::after
                    display: none
                color: #9A9A9A
                font-size: 14px
                margin-left: 3px
    .update__form__
        .card
            margin-left: -12px
            margin-right: -12px
        .update__card__header
           padding:0px 15px 0px 7px
           .title h2
             font-size: 20px !important
             font-weight: 700
    .card 
        box-shadow: none !important
        border-radius: 0px !important
        .user-listing
            padding-top: 0px !important
        .card-header:not(.update__card__header)
            padding: 0px !important

    header
        .dropdown-toggle::after  
            color:#fff
    .dropdown-toggle::after    
        color:#212529
.welcome_wrapper
    @media(max-width:767px)
        .dropdown-toggle::after    
            color:#fff
*[dir=rtl] .dropdown-toggle::after
    margin-right: 0.255em   
.mobile-nav
    position: fixed
    background-color: #fff
    width: 100%
    left: 0
    bottom: 0
    height: 60px
    z-index: 99
    ul li
        &.active a
            color: #D39B2C
            svg,svg path
                fill: #D39B2C
        a
            font-size: 27px
            color: #C0BEC7
.user-side-wrap
    .upload-label
        display: flex
        align-items: center
        z-index: 11
        color: #959595
        justify-content: center
        font-size: 36px
        width: 50px
        height: 50px
        background: rgb(255 255 255 / 33%)
        border-radius: 50%
        line-height: 1
        padding-top: 5px
        top: calc(50% - 25px)
        left: calc(50% - 25px)
        padding-left: 1px
        cursor: pointer
        border: 1px solid #959595
    .thumb
        img
            object-fit: cover
            width: 100%
            max-width: initial
    .sub-thumb
        img
            height: 145px
    .main-thumb
        img
            height: 300px
    .inner-thumb
        img
            height: 145px
    .image-gallery-content
        &:not(.fullscreen)
            .image-gallery-slide .image-gallery-image
                height: 435px
                max-height: initial
    @media(min-width: 768px)
        .mt-md-minus-60
            margin-top: -60px
        .profile-widget
            table
                width: 96% !important
        .border-md-bottom
            border-bottom: 1px solid #dee2e6 !important
        .position-md-relative
            position: relative !important
        .card__body
            padding-left: 30px
            padding-right: 30px
        .page-content-name
            font-size: 30px !important
            margin-bottom: 0px
    .page-content-name
        font-weight: 900
        font-size: 36px
    .card-footer
        @media(max-width: 575px)
            padding-left: 0px !important
            padding-right: 0px !important
            button
                margin-top: 0px !important
            .btn
                font-size: 14px
                min-width: 120px
    .tabs-filters__
        border-bottom: 1px solid #F1F3F6
        padding-bottom:7px
        @media(max-width:767px)
            margin-left: -.75rem !important
            margin-right: -.75rem !important
            padding-left: 1.6rem !important
            padding-right: 1.7rem !important
        @media(min-width:768px)
            width: 500px
            margin-left: auto !important
            margin-right: auto !important
            margin-top: 30px
            padding-left: 0.5rem !important
            padding-right: 0.5rem !important
        a
            font-size:15px
            color: #9A9A9A
            font-weight: 500
            position: relative
            &.active
                color:#D39B2C
                &:before
                    content: "",
                    position: absolute
                    bottom: -9.5px
                    left: 0
                    width: 100%
                    height: 3px 
                    background: #D39B2C
                    border-radius: 10px
    .dropdown
        @media(max-width:767px)
            button
                outline: none !important
                box-shadow: none
            &.show
                svg circle
                    fill:#000
            .custom__dropdown__filter
                background: transparent !important
                margin-top: 20px
                margin-bottom: 17px !important
                min-width:1px !important
                float: right
    h1,h2,h3,h4,h5,h6
        font-weight: 700

   

 

    input,select,textarea
        &:focus
            outline: none !important

    p
        font-size: 16px
        @media (max-width: 576px)
            font-size: 14px

    ul
        margin: 0
        padding: 0
        li
            list-style-type: none

    img
        max-width: 100%

    button:focus,a:focus
        outline: none !important


    /* Main CSS */
    
    .logo
        h1,h2,h3,h4,h5,h6
            font-size: 60px
            font-weight: 700
            text-transform: uppercase
    .logo.color
        h1,h2,h3,h4,h5,h6
            color: $primaryColor



    .btn.white
        background: $whiteColor
        color: $primaryColor

    .btn.border
        background: transparent
        color: $whiteColor
        border: 1px solid $whiteColor

    .btn.pink
        background: transparent
        color: $pink
        border: 1px solid $pink
        transition:0.3s ease-in-out all
        &:hover
            background:$linear
            border-color:transparent
            color:#212529

    .input
        display: flex
        background-color: $background
        align-items: center
        justify-content: space-between
        border-radius: 8px
        margin-bottom: 10px
        select
            appearance: none
            background-image: url('../images/arrow_grey.png')
            background-repeat: no-repeat
            background-position: right 10px center
        select,input
            background-color: transparent
            border: 0
            padding: 15px 10px
            width: calc( 100% - 45px )
            color: #9A9A9A
            &::placeholder
                text-transform: capitalize
        i
            width: 45px
            height: 45px
            display: grid
            place-content: center
            font-size: 18px
            color: #C0BEC7

    .radio
        justify-content: start
        background-color: transparent
        label
            margin: 0 5px
        input
            width: 18px
            height: 18px

    .thumb
        img
            border-radius: 8px

    .location
        display: flex
        align-items: center
        .badge
            margin-left: 10px

    .badge
        background: $linear
        border-radius: 24px

    .badge.female
        background: linear-gradient(180deg, #FF8961 0%, #FD649D 100%)
        border-radius: 24px
        i
            vertical-align: middle
            font-size: 14px
    .badge.male
        background: linear-gradient(180deg, #3DA0DE 0%, #73F4E0 100%)
        border-radius: 24px
        i
            vertical-align: middle
            font-size: 14px

    .user-card
        img
            height: 100%
            object-fit: cover
            width: 100%

    .link
        color: $primaryColor

    .icon
        background-color: $background
        width: 40px
        height: 40px
        display: grid
        border-radius: 50%
        button
            background-color: transparent
            border: 0
            color: $greyColor

    .card
        border: 0
        background-color: $whiteColor
        box-shadow: 0px 12px 250px rgba(0, 0, 0, 0.1)
        border-radius: 8px !important
        overflow: hidden
        .card-header
            background-color: $whiteColor
            border: 0
            display: flex
            ul
                li
                    margin: 10px 0
            .title
                h1,h2,h3,h4,h5
                    font-size: 30px
                    color: $blackColor
            .title-sm
                h1,h2,h3,h4,h5
                    font-size: 24px
                    color: $blackColor

    /* Auth */
    .login-wrapper
        background-image: url('../images/login-bg.jpg')
        background-size: cover
        background-repeat: no-repeat
        min-height: calc(100vh - 75.22px)
        .login-widget
            min-height: calc(100vh - 75.22px)
            display: flex
            align-items: center
            justify-content: center
            text-align: center
            .btn
                min-width: 370px
                margin: 10px 0
                @media(max-width:400px)
                  min-width:100%
        .social-btn
            display: flex
            justify-content: center
            .social
                width: 60px
                height: 60px
                display: grid
                place-content: center
                font-size: 24px
                border-radius: 50%
                border: 0
                margin: 5px
                color: $whiteColor
            .fb
                background-color: #2672CA
            .google
                background-color: #FC3850
        @media (max-width: 768px)
            background-image: url('../images/login-mbl.png')
            background-position: center

    .signup-wrapper
        background-image: url('../images/login-bg.jpg')
        background-size: cover
        min-height: calc(100vh - 75.22px)
        .signup-content
            h1,h2,h3,h4,h5,h6
                font-weight: 400
                font-size: 24px
                color: $textGrey
        .signup-widget
            @media (min-width: 575px)
                min-height: calc(100vh - 75.22px)
            display: flex
            align-items: center
            justify-content: center
            text-align: center
            flex-direction: column
            &.forget_widget
                @media(max-width:400px)
                    .card
                        width:100%
            .card-body
                @media(max-width:400px)
                    padding-left:0px
                    padding-right:0px
            .btn
                min-width: 370px
                margin: 10px 0
                @media(max-width:400px)
                   min-width: 100%
        .social-btn
            display: flex
            justify-content: center
            .social
                width: 60px
                height: 60px
                display: grid
                place-content: center
                font-size: 24px
                border-radius: 50%
                border: 0
                margin: 5px
                color: $whiteColor
            .fb
                background-color: #2672CA
            .google
                background-color: #FC3850
        @media (max-width: 768px)
            background-color:#fff !important
            &.white-bg-wrap
                background:#fff !important
            .card
                box-shadow: none !important


    /* Main Pages */
    header
        background-color: $secondryColor
        padding: 12px 20px
        height: 80
        display: flex
        align-items: center
        justify-content: space-between
        @media(max-width:768px)
            .logo
                span
                    height: 35px !important
                    img 
                        height: 35px !important
        .logo
            h1,h2,h3,h4,h5
                font-size: 42px
                margin-bottom: 0
        .nav
            ul
                display: flex
                align-items: center
                li
                    margin: 0 10px
                    a
                        color: #fff
                        display: flex
                        align-items: center
                    svg,i
                        vertical-align: middle
                        path 
                            fill: #fff
                    i
                        font-size: 24px    
                        vertical-align: middle
                        margin-right: 5px
                .active
                    a
                        color: $primaryColor
                        svg path
                            fill: $primaryColor


    main
        min-height: calc( 100vh - 200px )
        padding: 100px 0
        background-color: $background
        @media(max-width:767px)
            padding: 50px
            background-color: #fff !important
            .card__responsive
                background: transparent
                .res_head
                    padding-left: 10px !important
                    padding-right: 10px !important
                .card__body 
                    padding-left: 10px !important
                    padding-right: 10px !important
                    padding-top: 0px !important
        @media(max-width:576px)
            padding: 0px


    footer
        background-color: $secondryColor
        text-align: center
        padding: 10px
        @media(max-width:767px)
            margin-bottom:60px
        p
            margin-bottom: 0
            font-size: 18px
            color: $whiteColor


    /* Custome */
    .h500p
        height: 500px
        object-fit: cover

    .offer-card
        position: absolute
        z-index: 5
        width: 90%
        height: 90%
        top: 5%
        left: 5%
        display: flex
        background-color: $whiteColor
        align-items: center
        flex-direction: column
        justify-content: center
        border-radius: 8px
        padding: 20px
        text-align: center

    .filter
        margin-left: 20px
        .dropdown-menu 
            box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1)
            border: 0
        @media(min-width: 768px)
            .dropdown
                max-width: 400px
        .dropdown-toggle
            display: flex
            @media(min-width: 768px)
                background: transparent !important
            align-items: center
            box-shadow: none !important
            justify-content: space-between
            border-radius: 8px
            margin-bottom: 10px
            border: 0
            box-shadow:none 
            padding: 10px 12px
            min-width: 370px
            color:inherit 
        .dropdown-menu
            padding: 10px
        h1,h2,h3,h4,h5
            margin-bottom: 15px
            margin-top: 20px
            font-size: 16px
            font-weight: bold

    .user-listing
        display: flex
        flex-wrap: wrap
        padding: 80px 0
        
        @media(min-width: 768px)
            margin-right: -3.4%   
        &::after 
            content: ''
            flex: 0.885
        .user-card
            &.offline
                position: relative
                &::after
                    content: ""
                    width: 9px
                    height: 9px
                    top: 5px
                    left: 5px
                    border-radius: 50%
                    background-color: #9aaa97
                    position: absolute
                    box-shadow: 0px 0px 2px 0px rgb(0 0 0 / 30%)
            &.online
                position: relative
                &::after
                    content: ""
                    width: 9px
                    height: 9px
                    top: 5px
                    left: 5px
                    border-radius: 50%
                    background-color: #7FD31F
                    position: absolute
                    box-shadow: 0px 0px 2px 0px rgb(0 0 0 / 30%)
            max-width: calc(17% - 10px)
            flex: 0 0 calc(17% - 10px)
            @media only screen and (min-device-width: 200px) and (max-device-width: 575px)
                max-width: calc( 50% - 10px ) !important
                flex: 0 0 calc( 50% - 10px ) !important
                height: calc(50vh - 182px) !important
                span.lazy-load-image-background
                    height: 100% !important
                img
                    height: 100% !important
                    object-fit: cover !important
            @media only screen and (min-device-width: 576px) and (max-device-width: 767px)
                max-width: calc( 33.333% - 10px )
                flex: 0 0 calc( 33.333% - 10px )
            @media(min-width: 768px)
                margin-right: 3.3%   
            margin: 5px
            border-radius: 4px
            overflow: hidden
            &::before
                position: absolute
                width: 100%
                height: 100%
                z-index: 2
                background: linear-gradient(359.82deg, rgba(0, 0, 0, 0.5) 14.02%, rgba(0, 0, 0, 0) 99.81%)
                content: ''
                top: 0
                left: 0
                user-select: none
                pointer-events: none
            .user-footer
                position: absolute
                bottom: 0
                left: 0
                width: 100%
                display: flex
                align-items: center
                justify-content: space-between
                padding: 10px
                z-index: 3
                p
                    margin-bottom: 0
                    color: $whiteColor

    .gallary
        padding: 20px 0
        .row
            margin: 0
        .row > *
            padding: 0
        .thumb
            padding: 5px
            .badge
                position: absolute
                bottom: 10px
                right: 10px
                background: $whiteColor
                color: $secondryColor

    .profile-widget
        table
        
        table,tbody,thead
            display: block
            width: 100%
            tr
                display: flex
            td
                padding: 5px 0
                width: 50%
                &:last-child
                    text-align: right
            b
                color: $secondryColor
    .profile-widget > .card-header
        padding: 10px 0
