
.favourite-header-text{
    font-size: 42px;
}

.full-height{
    height: 100%;
    /* background-color: red; */
}

.textarea-div{
    background-color: rgb(251, 251, 251);
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
}


.profile-each-image-div{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0.5rem;
    padding:0px;
    margin: 0px;
    margin:0.2rem;
}

.pointer{
    cursor: pointer;
}


tr {
    border: 1px solid rgb(217, 217, 217);
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    /* margin: 0.5rem 0.5rem 0.5rem 0rem; */
    border-radius: 0.5rem;
    align-items: center;
    background-color: rgb(251, 251, 251);
  }


.full-row-div{
    display:flex;
    justify-content:flex-start;
    align-items: center;
    height: 100%;
    /* background-color: red; */
}
  
.each-custom-input-div{
  /* background-color:inherit; */
  width: 50%;
  height: 100%;
  /* background-color: red; */
}


.custom-input-div{
    /* background-color: wheat; */
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid rgb(217, 217, 217);
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    border-radius: 0.5rem;
    background-color: rgb(251, 251, 251);
}

.margin-right{
    margin: 0.5rem 0.5rem 0.5rem 0rem;
}

.margin-left{
    margin: 0.5rem 0rem 0.5rem 0.5rem;
}

.margin-right-top{
    margin: 0rem 0.5rem 0rem 0rem;
}

.margin-left-top{
    margin: 0rem 0rem 0rem 0.5rem;
}
.padding-right{
    padding-right: 0.5rem;
}
.padding-left{
    padding-left: 0.5rem;
}
.padding_half{
    padding: 1rem 1rem 1rem 0.5rem;
}

.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-left-imp{
    text-align: left !important;
}
.text-right-imp{
    text-align: right !important;
}


.form-range{
    color:gold;
    /* background-color: red; */
}

.lang_select{
  /* background-color: rgb(54, 54, 199); */
  width: 85%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* text-align: left; */
}

select{
    width: 250px;
}

.custom-select-each-test{
    width: 100%;
    z-index: 100 !important;
    /* overflow-y: scroll; */
    /* height: 100%; */
    /* position: absolute !important; */
}



.custom-select-each{
    width: 100%;
}

.custom-select{
    width: 50%;
}

.select_elememnt{
    /* background-color: red; */
}

select {
    appearance: none;
    /* background-color: red; */
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
  }

.select:after {
    /* background-color: red; */

}

.options_right{
    text-align: right;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
}

.options_left{
    text-align: left;
    padding-left: 0.5rem;
}

.padding_bottom_div{
    padding-bottom: 0.5rem;
}

.lang-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.5rem;
}

.range-text{
    font-size: 0.8rem;
    padding: 0rem 0.5rem
}

.custom-range-color{
    color:red;

}


.form-range-track-bg{
    color:red;
}

.bg-red{
    margin:0.1rem;
}

.horizontally-center-div{
    /* background-color: rgb(125, 83, 83); */
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

@media (max-width: 500px) {
    .full-height{
        height: 100vh;
        /* background-color: red; */
    }

    .favourite-header-text{
        text-align:center;
    } 

    .lang_select{
        /* background-color: rgb(10, 234, 92); */
        width: 85%;
      
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

    .custom-select-each{
        width: 100% !important;
        align-items: center;
       
    }

    .custom-select-each-test{
        width: 100% !important;
        align-items: center;
    }




    .full-row-div{
        display:flex;
        justify-content:flex-start;
        align-items: center;
        height: 100%;
        /* background-color: red; */
    }

    .custom-input-div{
         /* background-color: wheat; */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;

        border: 1px solid rgb(217, 217, 217);
        padding: 0.3rem 0.5rem 0.3rem 0.5rem;
        border-radius: 0.5rem;
        background-color: rgb(251, 251, 251);

        height: 5rem;
    }

    .textarea-div{
        background-color: rgb(251, 251, 251);
        /* background-color: wheat; */
        height: 5rem;
        padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    }

    .text-right{
        background-color: rgb(251, 251, 251);

        display: flex;
        justify-content: flex-start !important;
        align-items: center !important;
        text-align: right !important;
        width: 100%;
    }

    .text-left{
        /* background-color: rgb(49, 49, 198); */
        background-color: rgb(251, 251, 251);

        display: flex;
        justify-content: flex-start !important;
        align-items: center !important;
        text-align: left !important;
        width: 100%;
    }
}